<form method="POST">
    <h2>Regisztráció</h2>

    <div class="form-group row">
        <label for="userName" class="col-2 col-form-label">Felhasználónév</label>
        <div class="col-10">
            <input type="text" class="form-control" id="userName" name="userName" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="userDisplayName" class="col-2 col-form-label">Megjelenített név</label>
        <div class="col-10">
            <input type="text" class="form-control" id="userDisplayName" name="userDisplayName" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="userPassword" class="col-2 col-form-label">Jelszó</label>
        <div class="col-10">
            <input type="password" class="form-control" id="userPassword" name="userPassword" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="userPasswordAgain" class="col-2 col-form-label">Jelszó még egyszer</label>
        <div class="col-10">
            <input type="password" class="form-control" id="userPasswordAgain" name="userPasswordAgain" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="userEmail" class="col-2 col-form-label">Email cím</label>
        <div class="col-10">
            <input type="email" class="form-control" id="userEmail" name="userEmail" required>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Regisztráció</button>
        </div>
    </div>
</form>